<div class="container show-container">
<h1><%= @cocktail.name %></h1>
<%= link_to "add ingredients", new_cocktail_dose_path(@cocktail), class:"btn btn-default text-center" %>
<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
  <ul>
  <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %>, <%= dose.description %>, <%= link_to "delete", dose_path(dose), method: :delete %></li>
  <% end %>
   </ul>
</div>

